body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.hud {
    position: fixed;
    bottom: 20%;
    right: 5%;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 1) 0 2px 4px, rgba(0, 0, 0, 1) 0 0 2px;
}
.hud div {
    margin-bottom: 5px; /* Espaço entre linhas */
}
.hud div:last-child {
    margin-bottom: 0; /* Remove o espaço do último item */
}
#playerNation {
    color: #FFA500;
}
#playerName, #gangName {
    color: #8456bd;
}

#expPlayerBar {
    width: 170px;
    height: 15px;
    padding: 0;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    background-color: #0a0a0a;
    margin-bottom: 5%;
    position: relative;
}
#expGangBar {
    width: 170px;
    height: 15px;
    padding:0px;
    text-align: center;
    border-style: solid;
    border-width: 0.3%;
    border-color: black;
    background-color:#0a0a0a;
    margin-bottom: 5%;
    position: relative;
}

#expPlayerBar::after, #expGangBar::after {
    content: "EXP";
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 1) 0 2px 4px, rgba(0, 0, 0, 1) 0 0 2px;
    pointer-events: none;
    z-index: 2; 
}

#boxExpPlayer, #boxExpGang {
    position: absolute;
    background: #0059ff;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.big-title {
    font-size: 16px;
}